{% extends 'base.html' %}
{% block content%}
{% load static %}
        <!-- pages-title-start -->
		
		<script src="https://www.paypal.com/sdk/js?client-id=AXHAeQyHCbHFaB5Y-6gtM9EJP9AUDUwuLq8T_tAYAedTnXUUqxLyhfSS-l45rt5_ivpZETuWZIZ4tIh2&currency=USD" > </script>
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>Chcekout</h2>
							<ul class="text-left">
								<li><a href="{% url 'home' %}">Home </a></li>
								<li><span> // </span>Chcekout</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- pages-title-end -->
		<!-- Checkout content section start -->
		<section class="pages checkout section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="main-input single-cart-form padding60">
							<div class="log-title">
								<h3><strong>billing details</strong></h3>
							</div>
							<div class="custom-input">
								<form action="" method="post">
									{% csrf_token %}
									{{form.as_p}}
									<div class="form-group">
										<input type='submit' >place order</a>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="main-input single-cart-form padding60">
							<div class="log-title">
								<h3><strong>ship to different address</strong></h3>
							</div>
							<div class="custom-input">
								<form action="" method="post">
									{% csrf_token %}
									{{form.as_p}}
									<div class="form-group">
										<input type='submit' >place order</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row margin-top">
					<div class="col-xs-12 col-sm-6">
						<div class="padding60">
							<div class="log-title">
								<h3><strong>Our order</strong></h3>
							</div>
							<div class="cart-form-text pay-details table-responsive">
								<table>
									<thead>
										<tr>
											<th>Product</th>
											<td>Total</td>
										</tr>
									</thead>
									<tbody>
										{%for cart_item in cart_items%}
										<tr>
											<th>{{cart_item.product_version_id.name}} x {{cart_item.quantity}} </th>
											<td>${%widthratio cart_item.quantity 1 cart_item.product_version_id.discount_price%}</td>
										</tr>
										{%endfor%}
										<tr>
											<th>Cart Subtotal</th>
											<td id="subtotal"></td>
										</tr>
										<tr>
											<th>Shipping and Handing</th>
											<td id="shipping"></td>
										</tr>
										<tr>
											<th>Vat</th>
											<td id="vat"></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th>Order total</th>
											<td id="order_total"></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="padding60">
							<div class="log-title">
								<h3><strong>Payment method</strong></h3>
							</div>
							<div class="categories">
								<ul id="accordion" class="panel-group clearfix">
									<li class="panel">
										<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
											<div class="medium-a">
												direct bank transfer
											</div>
										</div>
										<div class="panel-collapse collapse in" id="collapse1">
											<div class="normal-a">
												<p>Lorem Ipsum is simply in dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
											</div>
										</div>
									</li>
									<li class="panel">
										<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
											<div class="medium-a">
		<div id="paypal-button-container">paypal</div>

		<script>
			paypal.Buttons({
			  createOrder: (data, actions) => {
				return actions.order.create({
				  purchase_units: [{
					amount: {
					  value: '77.44' 
					}
				  }]
				});
			  },
			  onApprove: (data, actions) => {
				return actions.order.capture().then(function(orderData) {
				  // Successful capture! For dev/demo purposes:
				  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
				  const transaction = orderData.purchase_units[0].payments.captures[0];
				  alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
				  // When ready to go live, remove the alert and show a success message within this page. For example:
				  // const element = document.getElementById('paypal-button-container');
				  // element.innerHTML = '<h3>Thank you for your payment!</h3>';
				  // Or go to another URL:  actions.redirect('thank_you.html');
				});
			  }
			}).render('#paypal-button-container');
		  </script>
											</div>
										</div>
										<div class="paypal-dsc panel-collapse collapse" id="collapse3">
										
										</div>
									</li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Checkout content section end -->
        {% endblock %}
