{% extends 'base.html' %}
{% block content%}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block mycss %} {% endblock mycss %}
<!-- pages-title-start -->
<div class="pages-title section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pages-title-text text-center">
					<h2>{% trans 'Product List' %}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- pages-title-end -->
<!-- product-list-view content section start -->
<section class="pages products-page section-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<div class="sidebar left-sidebar">
					<div class="s-side-text">
						<div class="sidebar-title clearfix">
							<h4 class="floatleft">{% trans 'categories' %}</h4>
							<h5 class="floatright"><a href="#">{% trans 'All' %}</a></h5>
						</div>
						<div class="categories left-right-p">
							<ul id="accordion" class="panel-group clearfix">
								{% for category1 in categories%}

								{% if category1.subcategories is null%}
								<li class="panel">
									<div data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
										<div class="medium-a">

											{{category1.categories}}
										</div>
									</div>

									<div class="panel-collapse collapse in" id="collapse1">
										{% for category in categories%}
										{% if category.subcategories is not null and category1 == category.subcategories%}
										<div class="normal-a">
											<a href="?category_id={{category.id}}">{{category.categories}}</a>
										</div>
										{%endif%}
										{% endfor %}
									</div>

								</li>
								{%endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="s-side-text">
						<div class="sidebar-title">
							<h4>{% trans 'price' %}</h4>
						</div>
						<div class="collection-brand-filter">
							<div class="custom-control custom-checkbox collection-filter-checkbox">
								<input type="checkbox" class="custom-control-input" id="hundred">
								<label class="custom-control-label" for="hundred"><a style="color: #777777" href='?minPrice=10&maxPrice=100'>$10 - $100</a></label>
							</div>
							<div class="custom-control custom-checkbox collection-filter-checkbox">
								<input type="checkbox" class="custom-control-input" id="twohundred">
								<label class="custom-control-label" for="twohundred"><a style="color: #777777" href='?minPrice=100&maxPrice=200'>$100 - $200</a></label>
							</div>
							<div class="custom-control custom-checkbox collection-filter-checkbox">
								<input type="checkbox" class="custom-control-input" id="threehundred">
								<label class="custom-control-label" for="threehundred"><a style="color: #777777" href='?minPrice=200&maxPrice=300'>$200 - $300</a></label>
							</div>
							<div class="custom-control custom-checkbox collection-filter-checkbox">
								<input type="checkbox" class="custom-control-input" id="fourhundred">
								<label class="custom-control-label" for="fourhundred"><a style="color: #777777" href='?minPrice=300&maxPrice=400'>$300 - $400</a></label>
							</div>
							<div class="custom-control custom-checkbox collection-filter-checkbox">
								<input type="checkbox" class="custom-control-input" id="fourhundredabove">
								<label class="custom-control-label" for="fourhundredabove"><a style="color: #777777" href='?minPrice=400'>$400 above</a></label>
							</div>
						</div>
					</div>
					<div class="s-side-text">
						<div class="sidebar-title clearfix">
							<h4 class="floatleft">size</h4>
							<h5 class="floatright"><a href="#">All</a></h5>
						</div>
						<div class="size-select clearfix">
							{% for size in sizes%}
							{%if size.sizes != 'None' %}
							<a href="?product_size={{size.id}}">{{size.sizes}}</a>
							{%endif%}
							{% endfor %}

						</div>
					</div>

					<div class="s-side-text">
						<div class="sidebar-title clearfix">
							<h4 class="floatleft">color</h4>
							<h5 class="floatright"><a href="#">All</a></h5>
						</div>
						<div class="color-select clearfix">
							{%for color in colors%}
							<a href="?color_id={{color.id}}"><span
									style="outline: auto;margin-right:5px ;background-color: {{color.colors}}"></span></a>
							{%endfor%}
						</div>
					</div>
					<div class="s-side-text">
						<div class="sidebar-title clearfix">
							<h4 class="floatleft">brands</h4>
							<h5 class="floatright"><a href="#">All</a></h5>
						</div>
						<div class="brands-select clearfix">
							<ul>
								{% for brand in brands%}
								<li>
									<a href="/product_list?brand_id={{brand.id}}">{{brand.brands}}</a>
								</li>
								{% endfor %}

							</ul>
						</div>
					</div>
					<div class="s-side-text">
						<div class="banner clearfix">
							<a href="/{{best_brand.slug}}/"><img src="{{best_brand.cover_image_version.url}}"
									alt="" /></a>
							<div class="banner-text">
								<h2>best</h2> <br />
								<h2 class="banner-brand">brand</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9">
				<div class="right-products">
					<div class="row">
						<div class="col-xs-12">
							<div class="section-title clearfix">
								<ul>
									<li>
										<ul class="nav-view">
											<li><a data-toggle="tab" href="#grid"> <i class="mdi mdi-view-module"></i>
												</a></li>
											<li class="active"><a data-toggle="tab" href="#list"> <i
														class="mdi mdi-view-list"></i> </a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="tab-content grid-content">
							<div class="tab-pane fade in text-center" id="grid">
								{% for product in products%}

								<div class="col-xs-12 col-sm-6 col-md-4">
									{% for product_version in product_versions%}
									{%if product.title == product_version.product.title%}
									<div class="single-product">
										<div class="product-img">

											<a href="#"><img src="{{product_version.cover_image_version.url}}"
													alt="aa Title" /></a>
											<div class="actions-btn">
												<a class="update-cart"data-product_version_id="{{product_version.id}}"><i class="mdi mdi-cart"></i></a>
												<a href="#{{product_version.id}}quick-view" data-toggle="modal"
													data-target="#{{product_version.id}}quick-view"><i
														class="mdi mdi-eye"></i></a>
												<a  class="wishlist" data-cart_itemss="{{cart_itemss.id}}" data-product_version_id="{{product_version.id}}"><i
														class="mdi mdi-heart"></i></a>
											</div>
										</div>
										<div class="product-dsc">
											<p><a href="#">{{product_version.name}}</a></p>
											<div class="ratting">
												<i class="mdi mdi-star"></i>
												<i class="mdi mdi-star"></i>
												<i class="mdi mdi-star"></i>
												<i class="mdi mdi-star-half"></i>
												<i class="mdi mdi-star-outline"></i>
											</div>
											<span>$ {{product_version.discount_price}}</span>
										</div>
									</div>
								</div>
								<!--" 
									{%endif%} 
								  {%endfor%}     
								   "-->
								{%endfor%}

								<!-- single product end -->
							</div>
							{% for product in products%}
							<div class="tab-pane fade active in" id="list">
								{% for product_version in product_versions%}
								{%if product.title == product_version.product.title%}

								<div class="col-xs-12">
									<div class="single-list-view">
										<div class="row" style="display: flex;
										flex-direction: row;">
											<div class="col-xs-12 col-md-4 " style="flex-grow:1">
												<div class="list-img">
													<div class="product-img">

														<a href="/{{CURRENT_LANGUAGE}}/{{product_version.slug}}/">
														<img src="{{product_version.cover_image_version.url}}" alt="Product Title" />

														</a>

													</div>
												</div>
											</div>

											<div class="col-xs-12 col-md-8" >
												<div class="list-text">
													<a href="/{{CURRENT_LANGUAGE}}/{{product_version.slug}}/">
														<h3>{{product_version.product.title}}</h3></a>
													<h5>$ {{product_version.discount_price}}
													</h5>


													<p>{{product_version.text}}</p>
													<div class="list-btn">
														<a class="update-cart" data-product_version_id="{{product_version.id}}">{% trans 'add to cart' %}</a>
														<a  class="wishlist" data-cart_itemss="{{cart_itemss.id}}" data-product_version_id="{{product_version.id}}">{% trans 'add to wishlist' %}</a>
														<a href="#{{product_version.id}}quick-view" data-toggle="modal"
															data-target="#{{product_version.id}}quick-view">zoom</a>
													</div>

													
												</div>
											</div>

										</div>
									</div>
									<!-- single product end -->
								</div>

									<!-- {%endif%} 
								  {%endfor%}      -->
								{%endfor%}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								{% if is_paginated %}
								<ul class="pagination">
									{% if page_obj.has_previous %}
									<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
									{% else %}
									<li class="disabled"><span>&laquo;</span></li>
									{% endif %}
									{% for i in paginator.page_range %}
									{% if page_obj.number == i %}
									<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
									{% else %}
									<li><a href="?page={{ i }}">{{ i }}</a></li>
									{% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
									<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
									{% else %}
									<li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								</ul>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- product-list-view content section end -->
<!-- quick view start -->

{% for product_version in product_versions%}


<div class="product-details quick-view modal animated zoomInUp" id="{{product_version.id}}quick-view">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="d-table">
					<div class="d-tablecell">
						<div class="modal-dialog">
							<div class="main-view modal-content">
								<div class="modal-footer" data-dismiss="modal">
									<span>x</span>
								</div>
								<div class="row">
									

									<div class="col-xs-12 col-sm-5 col-md-4">
										<div class="quick-image">
											<div class="single-quick-image text-center">
												<div class="list-img">
													<div class="product-img tab-content">
														<div class="simpleLens-container tab-pane fade in active" id="q-sin-1">
															<a class="simpleLens-image"
																data-lens-image="{{product_version.cover_image_version.url}}" href="#"><img
																	src="{{product_version.cover_image_version.url}}" alt="aa"
																	class="simpleLens-big-image"></a>
														</div>

														{% for image in images%}
									{%if image.product_image.id == product_version.id%}
														<div class="simpleLens-container tab-pane fade in" id="q-sin-{{forloop.counter}}">
															<a class="simpleLens-image"
																data-lens-image="{{image.images.url}}" href="#"><img
																	src="{{image.images.url}}" alt="aa"
																	class="simpleLens-big-image"></a>
														</div>
								
									{%endif%} 
								{%endfor%}

									
													</div>
												</div>
											</div>
											
											<div class="quick-thumb">
												<ul class="product-slider">
													<li class="active"><a data-toggle="tab" href="#q-sin-1"> <img
																src="{{product_version.cover_image_version.url}}" alt="quick view" /> </a></li>

																{% for image in images%}
																{%if image.product_image.id == product_version.id%}
													<li ><a data-toggle="tab" href="#q-sin-{{forloop.counter}}"> <img
																src="{{image.images.url}}" alt="small image" /> </a>
													</li>

													{%endif%} 

								{%endfor%}
												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-7 col-md-8">
										<div class="quick-right">
											<div class="list-text">
												<h3>{{product_version.title}}</h3>
												<div class="ratting floatright">
													<p>( 27 Rating )</p>
													<i class="mdi mdi-star"></i>
													<i class="mdi mdi-star"></i>
													<i class="mdi mdi-star"></i>
													<i class="mdi mdi-star-half"></i>
													<i class="mdi mdi-star-outline"></i>
												</div>
												<h5><del>${{product_version.price}}</del> ${{product_version.discounted_price}}</h5>
												<p>There are many variations of passages of Lorem Ipsum available, but
													the majority have be suffered alteration in some form, by injected
													humour, or randomised words which donot look even slightly
													believable. If you are going to use a passage of Lorem Ipsum, you
													neede be sure there isn't anything embarrassing hidden in the middle
													of text. Lorem Ipsum is simply dummy text of the printing and
													typesetting industry.</p>
												<div class="all-choose">
													<div class="s-shoose">
											<h5>{{product_version.color_id.colors}}</h5>
														<div class="color-select clearfix">
															<span></span>
															<span class="outline"></span>
															<span></span>
															<span></span>
														</div>
													</div>
													<div class="s-shoose">
														<h5>size</h5>
														<div class="size-drop">
															<div class="btn-group">
																<button type="button" class="btn">XL</button>
																<button type="button" class="btn dropdown-toggle"
																	data-toggle="dropdown" aria-haspopup="true"
																	aria-expanded="false">
																	<span class=""><i
																			class="mdi mdi-chevron-down"></i></span>
																</button>
																<ul class="dropdown-menu">
																	<li><a href="#">Xl</a></li>
																	<li><a href="#">SL</a></li>
																	<li><a href="#">S</a></li>
																	<li><a href="#">L</a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="s-shoose">
														<h5>qty</h5>
														<form action="#" method="POST">
															<div class="plus-minus">
																<a class="dec qtybutton">-</a>
																<input type="text" value="02" name="qtybutton"
																	class="plus-minus-box">
																<a class="inc qtybutton">+</a>
															</div>
														</form>
													</div>
												</div>
												<div class="list-btn">
													<a href="#">{% trans 'add to cart' %}</a>
													<a href="#">{% trans 'add to wishlist' %}</a>
													<a href="{{product_version.id}}quick-view" data-toggle="modal"
														data-target="{{product_version.id}}quick-view">zoom</a>
												</div>
												<div class="share-tag clearfix">
													<ul class="blog-share floatleft">
														<li>
															<h5>share </h5>
														</li>
														<li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
														<li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
														<li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
														<li><a href="#"><i class="mdi mdi-vimeo"></i></a></li>
														<li><a href="#"><i class="mdi mdi-dribbble"></i></a></li>
														<li><a href="#"><i class="mdi mdi-instagram"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
						
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endfor%}     

<!-- quick view end -->
{% endblock %}