{% extends 'base.html' %}
{% block content%}
{% load static %}]


<!-- pages-title-start -->
<div class="pages-title section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="pages-title-text text-center">
					<h2>Log in</h2>
					<ul class="text-left">
						<li><a href="/">Home </a></li>
						<li><span> // </span>Log in</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- pages-title-end -->
<!-- login content section start -->
<section class="pages login-page section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="main-input padding60">
					<div class="log-title">
						<h3><strong>registered customers</strong></h3>
					</div>
					<div class="login-text">
						<form method="post" id="login_form" action='#'>
							{% csrf_token %}
							{{form.as_p}}
							<button id="login_button" type="submit">Log in</button>
						</form>
						<a class="forget" href="{% url 'password_reset' %}">Forget your password?</a>
						<br>

						<a class="fa fa-facebook" href="{% url 'social:begin' 'facebook' %}"></a>
						<a href="{% url 'social:begin' 'google-oauth2' %}"class="fa fa-google"></a>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<script src="{% static 'js/login.js'%}"></script>

<script async defer crossorigin="anonymous"
	src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=1142389256393385&autoLogAppEvents=1"
	nonce="XzO2hWHb"></script>
<script>

	window.fbAsyncInit = function () {
		FB.init({
			appId: '{your-app-id}',
			cookie: true,
			xfbml: true,
			version: '{api-version}'
		});

		FB.AppEvents.logPageView();

	};

	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) { return; }
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!-- login content section end -->
{% endblock %}